#____ Java ____#
*.class

#____ Packages ____#
*.jar

#____ Intellij Idea ____#
*.iml
.idea/
/out/*

#___ NetBeans ___#
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
